html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden; /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
	margin: 0px; /* removes default style */
	display: flex; /* enables flex content for its children */
	box-sizing: border-box;
	background-image: linear-gradient(#3f0807, #121212, #121212);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	min-height: 600px;
	min-width: 768px;
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	vertical-align: baseline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.arrows button {
  border-radius: 50%;
}

.arrows button:hover {
  border-color:white !important;
  border:1px solid !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-scroll {
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 40px;
  width: 245px;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  right: 239px;
}

.navbar-toggler span {
  position: absolute;
  background-color: transparent;
  top: 12px;
  right: 10px;
}

.navbar-toggler p {
  position: absolute;
  top: 13px;
  right: 52px;
}

.navbar-toggler img {
  vertical-align: middle;
  border-style: none;
  left: 1px;
  position: absolute;
  top: 0px;
  height: 47px;
  border-radius: 50%;
}

 svg {
  fill: #000000
}

 g {
  mix-blend-mode: normal
}

